@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("./lib/bootstrap/css/bootstrap.min.css");
:root {
  --primary-color: #0083ff;
  --secondary-color: #355389;
  --font-sm: 0.875em;
  --font-md: 1.124em;
  --font-x-md: 1.667em;
  --font-x-lg: 3.275em;
}

@font-face {
  font-family: "Bubbleboy";
  src: local("Bubbleboy"), url("./asset/fonts/BUBBLEBO.TTF") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

p {
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }
}

.btn__primary {
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 4px 22px;
  outline: none;
  border: none;
  color: white;
  box-shadow: 1px 6px 4px rgba(0, 116, 194, 0.1);
  transition: all 0.3s linear;
}
.btn__primary:hover {
  background-color: var(--secondary-color);
}
.bubbleboy {
  font-family: Bubbleboy;
  text-transform: lowercase;
}
