@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("./lib/bootstrap/css/bootstrap.min.css");
:root {
  --primary-color: #e18f51;
  --secondary-color: #282b25;
  --tertiary-color: #40888d;
  --font-sm: 0.875em;
  --font-md: 1.124em;
  --font-x-md: 1.667em;
  --font-x-lg: 3.275em;
}

@font-face {
  font-family: "Bubbleboy";
  src: local("Bubbleboy"), url("./asset/fonts/BUBBLEBO.TTF") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./asset/fonts/Montserrat-Regular.otf") format("opentype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

p {
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }
}

.btn__primary {
  background-color: var(--tertiary-color);
  border-radius: 10px;
  padding: 5px 25px;
  outline: none;
  border: none;
  color: white;
  box-shadow: 1px 6px 4px rgba(0, 116, 194, 0.1);
  transition: all 0.3s linear;
  font-weight: 300;
  outline: none !important;
}
.btn__primary:hover {
  background-color: rgba(0, 116, 194, 0.8);
}
.bubbleboy {
  font-family: Bubbleboy;
  text-transform: lowercase;
  color: var(--tertiary-color);
}
highlight {
  background-color: rgba(0, 116, 194, 0.1);
}
